[submodule "telegram-worker"]
	path = telegram-worker
	url = ./telegram-worker
[submodule "trade-worker"]
	path = trade-worker
	url = ./trade-worker
[submodule "webhook-receiver"]
	path = webhook-receiver
	url = ./webhook-receiver
[submodule "d1-worker"]
	path = d1-worker
	url = ./d1-worker